.prosebar {
    margin-top: 0;
    position: fixed;
    z-index: 1000000;
    /* left: 50%; */
    bottom: 1rem;
    border: 0px black solid;
    padding: 0.5rem;
    opacity: 0.9;
    border-radius: 5px;
}

.yellow-btn {
    background: gold;
    padding: 0.6rem;
    border: none;
    font-weight: 500;
    border-radius: 5px;
    box-shadow: 1px 1px 1px grey;
}