.prosebar {
    margin-top: 0;
    position: fixed;
    z-index: 1000000;
    /* left: 50%; */
    bottom: -0.4rem;
    padding: 0.5rem;
    left: 65%;

    opacity: 0.75;
    border-radius: 5px;
    border: 1px solid grey;
}

.green-button {

    background-color:lightgreen;
}

.border-glow {
    border-radius: 10px;
    border-image-source: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    border-image-slice: 1;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    color: white;
    z-index: 0;
    border-radius: 10px;
    background: rgb(2, 2, 0);
    padding: 0.6rem;
    border: none;
    font-weight: 600;
    border-radius: 5px;
    box-shadow: 1px 1px 1px grey;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.subtle-input {
    min-width: 20vw;
    color: grey;
    border: 1px solid grey;
    background: #eaeaea47;
    padding: 0.4rem;
}

.danger-button {
    background: red;
    color: white;
    border: white;
    padding: 0.4rem;
    font-weight: 700;
}
.subtle-button {
    background-color: rgba(255, 255, 255, 0.529);
    color: rgb(75, 75, 75);
    ;
    
}