.prosebar {
    margin-top: 0;
    position: fixed;
    z-index: 1000000;
    /* left: 50%; */
    bottom: 1rem;
    background: white;
    border: 1px black solid;
    padding: 0.3rem;
    border-radius: 5px;
}